<div *ngIf="isLoading" class="spinner-border"  role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="row" *ngIf="projectName">
    <p><strong>Project Details</strong></p>
    <div class="col-3" *ngIf="projectName">
        <label>Name: <strong>{{projectName}}</strong></label>
    </div>
    <div class="col-3">
        <label>Start Date: <strong>{{projectStartDate | date}}</strong> </label>
    </div>
    <div class="col-3">
        <label>End Date: <strong>{{projectEndDate | date}}</strong></label>
    </div>
    <div class="col-3">
        <label>Allocation Percentage:  <strong>{{allocationPercentage}}</strong>%</label>
    </div>
</div>
<br>
<div class="row">
    <p><strong>Profile Details</strong></p>
    <div class="col-3">
        <label>Name:  <strong>{{name}}</strong></label>
    </div>
    <div class="col-3">
        <label>Skills: <strong>{{skills}}</strong></label>
    </div>
    <div class="col-3">
        <label>Years of Experience: <strong>{{experience}}</strong></label>
    </div>
</div>

<br>

<p><strong>Tasks</strong> </p>
<div class="row">
    <div class="col-12">
        <p *ngIf="tasks.length == 0">No Tasks are found</p>
        <accordion>
            <accordion-group *ngFor="let task of tasks | pagination:bigCurrentPage:itemsPerPage" heading="{{task.taskName}}">
                <div class="row">
                    <div class="col-3">
                        <label>Start Date: {{task.taskStartDate | date}}</label>
                    </div>
                    <div class="col-3">
                        <label>End Date: {{task.taskEndDate | date}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <label>Deliverables: {{task.deliverables}}</label>
                    </div>
                </div>
            </accordion-group>
         </accordion>
         <br>
         <pagination [totalItems]="totalCount" *ngIf="totalCount != 0 && totalCount > 4" [(ngModel)]="bigCurrentPage" [itemsPerPage]="itemsPerPage"></pagination>
    </div>
</div>
